*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    background-color: #739aee;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
}
nav h1{
    font-size: 35px;
    font-weight: 700;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px;
}
.img{
    height: 20rem;
    width: 40rem;
    border: 15px solid rgb(237, 236, 236);
}
main{
    height: 90%;
    background-color: #467cf0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
main h1{
    font-size: 60px;
    font-weight: 500;
    width: 400px;
    color: black;
}
main button{
    width: 10rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: #072055;
    font-size: 24px;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
}
.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #467cf0;
    outline: none;
    border: none;
    cursor: pointer;
}
.drk{
    display: none;
}
.dark-mode .lit{
    display: none;
}
.dark-mode .drk{
    display: block;
    
}
.dark-mode .img{
    border: 15px solid rgb(92, 91, 91);
}
.dark-mode nav {
    background-color: #072055;
    color: white;
}
.dark-mode nav a{
    color: white;
}
.dark-mode main{
    background-color: #042e89;
}
.dark-mode main h1{
    color: white;
}
.dark-mode .btn{
    background-color: #467cf0;
}